#wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    background: #2e3132;
    overflow: auto;
}

#scroller {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#wrapperTwo {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #2e3132;
    overflow: auto;
}

#scrollerTwo {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#wrapperThree {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #2e3132;
    overflow: auto;
}

#scrollerThree {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

.first-box {
    /* position: fixed; */
    background: #fff;
    text-align: left;
    padding: 1.375rem .938rem 0 .938rem;
    box-sizing: border-box;
    /*display: none;*/
}

.first-box .title {
    text-align: left;
    margin: 0 0  .5rem;
    color: #000000;
    font-size: 1.5rem;
}

.first-box .info {
    font-size: 1rem;
    color: #8f8f8f;
    margin-bottom: 1.5rem;
}

.first-box .info span {
    color: #4c7ba7;
    margin-left: .25rem;
}

.first-box .con-img {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
/* 领取介绍区域  */
.first-box .lq-box{
	position: relative;
	display: block;
	margin: 3.34rem .625rem;
    padding: .938rem .75rem;
    box-sizing: border-box;
    border: 1px dashed rgb(204, 204, 204);
    text-align: justify;
    box-shadow: rgb(165, 165, 165) 5px 7px 2px;
}
.first-box .lq-box .lq-way{
	position: absolute;
	top: -1.09rem;
	left: .375rem;
	width: 5.313rem;
	height: 1.875rem;
	line-height: 1.875rem;
	text-align: center;
    background: #000;
    color: #fff;
    font-size: 1.094rem;
    font-weight: 600;
    box-shadow: #2f4a29 3px 3px 2px;
}
.first-box .lq-box .lq-con{
	margin: 1.1rem 0;
	font-size: 1rem;
	color: #3c3c3c;
}
.first-box .lq-box .lq-con p{
	padding: 0 .5rem;
}
.first-box .lq-box .lq-con p:nth-child(2){
	margin: .9rem 0;
}
.first-box .lq-box .lq-con p .time{
	color: #438af6;
}
.first-box .lq-box .lq-con p .num{
	color: #ff0012;
}
.first-box .lq-box .lq-btn{
	display: block;
	width: 100%;
	height: 2.5rem;
	line-height: 2.3rem;
	text-align: center;
	border-radius: .625rem;
	background: #1aad19;
	color: #fff;
	font-size: 1.125rem;
	letter-spacing: -.07rem;
}
.first-box .footer-box {
    padding: 1.906rem 0 1.5rem;
    font-size: 1.033rem;
}

.first-box .footer-box a {
    float: left;
    text-decoration: none;
    color: #4c7ba7;
    margin-right: .713rem;
}
.first-box .footer-box>p {
    float: left;
    color: #868686;
    letter-spacing: -.03rem;
}
.first-box .footer-box>p i{
	display: inline-block;
	width: .875rem;
	height: .875rem;
	margin-right: .135rem;
	background: url(like-off.png) no-repeat;
	background-size: 100% 100%;
}
.first-box .footer-box>p i.like{
	background: url(like-on.png) no-repeat;
	background-size: 100% 100%;
}
.first-box .footer-box>span:nth-last-child(1) {
    float: right;
    color: #868686;
}
/*投诉内容盒子*/

.complaint-box {
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
    text-align: left;
    background: #f1f1f4;
    
}

.complaint-box p {
    color: #939297;
    padding: .9rem .938rem .4rem;
    font-size: .875rem;
    background: #f1f1f4;
}
.complaint-box li.last{
    padding: .563rem .938rem;
    font-size: 1.063rem;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    background: #fff;
    color: #000000;
}
.complaint-box .placeholder{
    height: 6rem;
    background: #f1f1f4;
}

.complaint-box ul {
    padding: 0 0 0 .938rem;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    background: #fff;
    color: #000;
}

.complaint-box ul li {
    padding: .563rem 0;
    border-bottom: 1px solid #ececec;
    font-size: 1.063rem;
}
.complaint-box ul li span{
    float: right;
    width: .5rem;
    height: .75rem;
    margin-top: .5rem;
    margin-right: .938rem;
    background: url(jiantou.png) no-repeat;
    background-size: 100% 100%;
}

.complaint-box ul li:nth-last-child(1) {
    border-bottom: none;
}
/*投诉结果页*/

.complaint-results-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 .938rem;
    box-sizing: border-box;
    background: #fff;
}
.complaint-results-box i{
    display: block;
    width: 5.875rem;
    height: 5.875rem;
    margin: 2.688rem auto 1.75rem;
    background: url(chengg.png) no-repeat;
    background-size: 100%;
}
.complaint-results-box p:nth-of-type(1) {
    font-size: 1.125rem;
    color: #000000;
}

.complaint-results-box p:nth-of-type(2) {
    margin: 1.5rem 0 1.75rem;
    font-size: .906rem;
    color: #858489;
}

.complaint-results-box a {
    display: block;
    width: 100%;
    height: 2.625rem;
    line-height: 2.625rem;
    border-radius: .3rem;
    text-align: center;
    color: #fff;
    font-size: 1.125rem;
    background: #04be01;
}
/*底部背景*/

.bg-xh-author {
    position: fixed;
    width: 80%;
    top: .813rem;
    left: 50%;
    margin-left: -40%;
    font-size: .75rem;
    text-align: center;
    color: #6f7476;
    display: none;
}