#wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    background: #2e3132;
    overflow: auto;
}

#scroller {
	
    position: absolute;
    z-index: 1;
   	-webkit-touch-callout:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    padding: 0;
    background: #fff;
}

.first-con {
     /*position: fixed;*/ 
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: left;
    padding: 0 1.188rem ;
    box-sizing: border-box;
    /*display: none;*/
}
.first-con .prompt-t{
    margin: 1.9rem 0 .36rem;
    color: #ce0a0c;
    font-size: 1rem;
    font-weight: bold;

}
.first-con .prompt-con{
    font-size: .938rem;
    color: #000000;
    font-weight: bold;
}
.first-con .prompt-con span{
    color: #ce0a0c;
}
.first-con .prompt-bot{
	margin: .8rem auto 0;
	height: 1;
	text-align: center;
	color: #e0140c;
	font-size: 1.188rem;
	letter-spacing: -.03rem;
}
.first-con .img-box{
	width: 14.375rem;
	height: 15.313rem;
	margin: .813rem auto .5rem;
	border: .625rem solid #4c4c4c;
	border-radius: .625rem;
	overflow: hidden;
}
.first-con img{
	display: block;
	width: 100%;
	
}
/* 弹窗 */
.pop-wrapper{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, .8);
}
.pop-wrapper .con{
	
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    width: 15.063rem;
    height: 16.438rem;
    padding: 1.875rem 2.375rem 1.438rem;
    box-sizing: border-box;
    background: #fff;
    border-radius: .438rem;
}
.pop-wrapper .con-two{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    width: 17.438rem;
	height: 17.538rem;
	padding: 2rem 2.125rem;
    box-sizing: border-box;
    background: #fff;
    border-radius: .438rem;
}
.pop-wrapper .con i,.pop-wrapper .con-two i{
	display: block;
    width: 2.938rem;
    height: 2.938rem;
    margin: 0 auto;
    background: url(chengg.png) no-repeat;
    background-size: 100%;
}
.pop-wrapper .con span.result,.pop-wrapper .con-two span.result{
	display: block;
	height: 1;
	margin: .68rem auto 1rem;
	color: #333333;
	font-size: 1.063rem;
	font-weight: bold;
}
.pop-wrapper .con-two span.result{
	margin: 1.07rem auto 1.438rem;
}
.pop-wrapper .con p.ts,.pop-wrapper .con-two p.ts{
	margin: 0 auto;
	height: 1;
	color: #333333;
	font-size: .938rem;
}
.pop-wrapper .con p.ts,.pop-wrapper .con-two p.ts{
	margin: 0 auto;
}
.pop-wrapper .con p.ts span,.pop-wrapper .con-two p.ts span{
	font-size: 1.063rem;
	color: #ff0000;
	margin: 0 .2rem;
	font-weight: 700;
}
.pop-wrapper .con-two span.ts{
	display: block;
	margin: 0 auto;
}
.pop-wrapper .con span.ts,.pop-wrapper .con-two span.ts{
	margin: 0 auto;
	font-size: .938rem;
	color: #333333;
}
.pop-wrapper .con .ok-btn,.pop-wrapper .con-two .ok-btn{
	display: block;
	width: 100%;
	height: 2.375rem;
	line-height: 2.375rem;
	margin: 1.438rem auto 0;
	border-radius: .188rem;
	background: #04be01;
	color: #ffffff;
	font-size: 1.063rem;
}
.pop-wrapper .con-two .ok-btn{
	margin: 1.438rem auto 0;
}
/*底部背景*/

.bg-xh-author {
    position: fixed;
    width: 80%;
    top: 15px;
    left: 50%;
    margin-left: -40%;
    font-size: .75rem;
    text-align: center;
    color: #6f7476;
    display: none;
}